@import '~@pluralsight/ps-design-system-core/dist/index.module.scss';
body {
  color: $ps-colors-text-icon-high-on-dark;
  font-family: $ps-type-font-family;
  background: $ps-colors-background-dark-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#upgrade {
  width: 198px;
  height: 40px;
  border-radius: 3px;
  background: $ps-colors-blue-7;
  display: inline-block;
  text-align: center;
  font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
  letter-spacing: 0.001em;
  font-weight: $ps-type-font-weight-600;
  font-size: $ps-type-font-size-base;
  color: $ps-colors-white;
  &:hover {
    filter: brightness(80%);
  }
  &:active {
    filter: brightness(105%)
  }
  border: none;
}
