#UpgradeOptionsHeader {
  min-width: 375px;
  height: 40px;
  fill: #ffffff;
  vertical-align: middle;
  margin-bottom: 24px;
  #innerHeader {
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 24px;

    display: flex;
    flex-direction: row;
    #callToAction {
      font-size: 24px;
      align-self: flex-start;
      letter-spacing: -1%;
      line-height: 32px;
      font-weight: 600;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.9);
    }
  }
}
#CloseModalButton {
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  background: none;
  position: absolute;
  mix-blend-mode: normal;
  right: 19px;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  height: 24px;
  border-radius: 100px;
  padding: 0;
  text-align: center;
  size: 12px;
  background: rgba(138, 153, 168, 0.25);
  .buttonProtoType {
    line-height: 16px;
    color: rgba(0, 0, 0, 0.9);
    height: 24px;
    border-radius: 100px;
    padding: 3px 12px 3px 12px;
  }
  .activeButton {
    @extend .buttonProtoType;
    // width: 61px;
    background-color: #ffffff;
    border: rgba(0, 0, 0, 0.15) solid 1px;
  }
  .inactiveButton {
    @extend .buttonProtoType;
    background: rgba(255, 255, 255, 0);
    border: none;
  }
}
.optionsRow {
  color: black;
  display: grid;
  margin-bottom: 47px;
  margin-left: 24px;
  margin-right: 24px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-width: 375px;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  .optionsContainer {
    justify-self: center;
    width: 270px;
    height: 270px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
}
