@import "~@pluralsight/ps-design-system-core/dist/index.module.scss";
#UpgradeOptionsHeader {
  min-width: 375px;
  margin-top: 40px;
  height: 40px;
  fill: #ffffff;
  vertical-align: middle;
  margin-bottom: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
  font-family: $ps-type-font-family;
  #innerHeader {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    #callToAction {
      font-size: 24px;
      align-self: flex-start;
      letter-spacing: -1%;
      line-height: 32px;
      font-weight: 600;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.9);
    }
    .buttonContainer {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      border: rgba(0, 0, 0, 0.15) solid 1px;
      height: 24px;
      border-radius: 100px;
      padding: 0;
      text-align: center;
      size: 12px;
      background: rgba(138, 153, 168, 0.25);
      .buttonProtoType {
        line-height: 16px;
        color: rgba(0, 0, 0, 0.9);
        height: 24px;
        border-radius: 100px;
        padding: 3px 12px 3px 12px;
        transition: all 0.2s ease-out;
      }
      .activeButton {
        @extend .buttonProtoType;
        background-color: #ffffff;
        border: rgba(0, 0, 0, 0.15) solid 1px;
      }
      .inactiveButton {
        @extend .buttonProtoType;
        background: rgba(255, 255, 255, 0);
        border: none;
      }
    }
  }
}
#CloseModalButton {
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  background: none;
  position: absolute;
  mix-blend-mode: normal;
  right: 19px;
  border-radius: 5px;
  &:hover {
    background-color: rgb(228, 222, 222);
  }
}

.optionsRow {
  color: black;
  display: flex;
  margin-bottom: 47px;
  margin-left: 24px;
  margin-right: 24px;
  flex-wrap: wrap;
  gap: 20px;
  column-gap: 20px;
  justify-content: center;

  .optionsContainer {
    position: relative;
    width: 270px;
    height: 270px;
    border: 1px solid black;
    display: flex;
    justify-self: center;
    align-items: center;
    align-self: center;
    flex-direction: column;

    .header {
      margin-top: 20px;
      height: 26px;
      font-weight: 600;
      font-size: 24;
      line-height: 32px;
    }
    .price {
      font-size: 28px;
      font-weight: 600;
      height: 26px;
      margin-top: 26px;
      line-height: 32px;
    }
    .priceAddendum {
      display: flex;
      flex-direction: row;
      margin-top: 8px;
      align-items: center;
      .timePeriod {
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        height: 26px;
        line-height: 24px;
        text-align: center;
        margin-right: 5px;
        font-size: 14px;
        letter-spacing: 0.01em;
      }
      .savingsPercent {
        background-color: $ps-colors-orange-5;
        border-radius: 2px;
        text-align: center;
        padding: 2px 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 1);
      }
    }
    .copy {
      margin-top: 17px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.01em;
      margin-bottom: 20px;
    }

    .upgradeButton {
      position: absolute;
      border-radius: 5px;
      bottom: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 20px;
      color: $ps-colors-white;
      background: $ps-colors-gradient-skills-background;
      &:hover {
        filter: brightness(85%);
      }
    }
  }
}
#standard {
  width: 190px;
}
#premium {
  width: 260px;
}
